<div class="page-header" role="banner">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/jpswalsh/academicons@1/css/academicons.min.css">
    <h1 class="project-name">Nahuel Emiliano Garcia D'Urso</h1>
    <h2 class="project-tagline">I’m a PhD student at the <a href="https://www.ua.es/en/index.html" class="linksWhite">University of Alicante</a>, co-supervised by Prof. 
    <a href="https://cvnet.cpd.ua.es/curriculum-breve/en/fuster-guillo-andres/10095" class="linksWhite">Andres Fuster Guillo</a> and Prof. 
    <a href="https://cvnet.cpd.ua.es/curriculum-breve/en/azorin-lopez-jorge/9826" class="linksWhite">Jorge Azorin Lopez</a>. 
    I obtained my BSc in Computer Science and my MSc in Data Science from the same university. 
    My research interests include Machine Learning, Data Science, and Computer Vision problems and their applications.</h2>
    
    
    <a href="https://github.com/nawue/" ><i class="fa fa-github" style="font-size:36px;color:white; margin-left: 0.3em;"></i></a>
    <a href="https://www.linkedin.com/in/nahuel-garcia-36852596/" ><i class="fa fa-linkedin" style="font-size:36px;color:white; margin-left: 0.3em;"></i></a>
    <a href="https://scholar.google.es/citations?view_op=list_works&hl=es&authuser=1&user=pPaGkJEAAAAJ" ><i class="ai ai-google-scholar big-icon" style="font-size:36px;color:white; margin-left: 0.5em;"></i></a>
    <a href="https://www.researchgate.net/profile/Nahuel-Garcia-Durso" ><i class="ai ai-researchgate big-icon" style="font-size:36px;color:white; margin-left: 0.5em;"></i></a>
</div>
<style>
    .linksWhite:link {
      text-decoration: underline;
      color: white;
    }
    .linksWhite:hover {
      text-decoration: underline;
      color: white;
      background: #fdfdfd3d;
    }
    .linksWhite:visited {
      text-decoration: underline;
      color: white;
    }